<% @stations.each do |station| %>
  <hr>
  <ul>
    <li>Name:  <%= station.station_name %></li>
    <li>Address:  <%= station.street_address %> <%= station.city %>, <%= station.state %></li>
    <li>Fuel Type:  <%= station.fuel_type %></li>
    <li>Distance:  <%= station.distance %></li>
    <li>Access Times:  <%= station.access_time %></li>
  </ul>
<% end %>  
