<% @stations.each do |station| %>
  <ul>
    <li>Name:  <%= station.name %>.</li>
    <li>Address:  <%= station.address %>.</li>
    <li>Fuel Type:  <%= station.fuel_type %>.</li>
    <li>Distance:  <%= station.distance %>.</li>
    <li>Access Times:  <%= station.access_time %>.</li>
  </ul>
